<%- include('_header.ejs')%>
<h2>
    <%=pageTitle%>
</h2>
<p>This page displays all the presentations at the conference.</p>
<ul>
    <% presentations.forEach(speaker => { %>
        <li><%=presentation.title %> <b>Room:</b> <%=presentation.room %></li>
    <% }) %>
</ul>
<%- include('_footer.ejs')%>